

#page-container{
    width: 90%;
    margin: 10px auto;
}

#left-column{
    /*width: 30%;
    float: left;
    margin: 0;
    padding: 1em;*/
}

#right-column{
  /*  margin-left: 350px;
    border-left: 1px solid gray;
    padding: 1em;*/
}

#top{
/*    padding: .5em;
    background-color: #ddd;
    border: 1px solid gray;
    border-radius: 15px;
    -moz-border-radius: 15px;
    text-align: center;*/
}

.title{
    font-weight: bold;
}

input{
    width: 100%;
    box-sizing: border-box;
}