<div id="search-text-form">
    <h2>Search:</h2>
    <form class="search-form">
        <input type="text" class="text" id="search-text" name="search"/>
    </form>
</div>

<div class="filter-list">
    <h2>Show Only:</h2>
    <form>
        <input type="radio" class="filter-select" name="filter" value="all" checked="checked">All Categories</input><br/>
        <input type="radio" class="filter-select" name="filter" value="articles">Articles</input><br/>
        <input type="radio" class="filter-select" name="filter" value="people">People</input><br/>
    </form>
</div>

<div id="sorter-list-person" style="display:none">
<h2>Sort By:</h2>
<form>
    <input type="radio" class="sorter-select" name="sorter" value="relevance" checked="checked">Relevance</input><br/>
    <input type="radio" class="sorter-select" name="sorter" value="name">Name</input><br/>
    <input type="radio" class="sorter-select" name="sorter" value="connections">Connections</input><br/>
</form>
</div>

<div id="sorter-list-article" style="display:none">
<h2>Sort By:</h2>
<form>
    <input type="radio" class="sorter-select" name="sorter" value="relevance" checked="checked">Relevance</input><br/>
    <input type="radio" class="sorter-select" name="sorter" value="date">Date</input><br/>
</form>
</div>

